**/vendor/
**/node_modules/
**/notes.txt
**/config.php
**/out
**/*.out
**/*.class
**/dist/
.DS_Store
**/*.zip
**/npm-debug.log
**/local.json
**/dev.json
**/build
**/target
**/out
**/cmake-build-debug/
**/.idea/
**/.mvn/
**/*-lock.json